header{
    height: 75px;
    width: 100%;
}

body div{
    height: 150px;
    width: 100%;
}

section{
    height: 250px;
    width: 100%;
}

main{
    height: 500px;
    width: 100%;
}

footer{
    height: 80px;
    width: 100%;
}

@media(min-width: 768px){
    header{
        height: 100px;
    }
    body div{
        float: left;
        width: 20%;
    }

    section{
        float: right;
        width: 80%;
        height: 200px;
    }

    main{
        float: right;
        width: 80%;
        height: 250px;
    }

    footer{
        float: right;
        height: 150px;
        width: 80%;
    }
}
