*{
    text-align: center;
}


.a{
    height: 75px;
    line-height: 75px;
}

.b{
    height: 150px;
    line-height: 150px;
}

.c,.d{
    height: 125px;
    line-height: 125px;
}


.e,.f,.g,.h{
    height: 250px;
    display: inline-block;
    width: 50%;
    line-height: 250px;
    
}

.e,.g{
    float: left;
}

.f,.h{
    float: right;
}

.i{
    height: 80px;
    line-height: 80px;
}


@media(min-width:768px){
    .a{
        height: 100px;
    }

    .b{
        float: left;
        width: 20%;
        height: 600px;
        
    }

    .c,.d{
        width: 40%;
        display: inline-block;
        height: 200px;
    }

    .c{
        float: left;
    }

    .d{
        float: right;
    }

    .e,.f,.g,.h{
        width: 20%;
        display: inline-block;
        height: 250px;
    }

    .i{
        height: 150px;
        float: right;
        display: block;
        width: 80%;
    }
}