.a{
    background-color: purple;
}

.b{
    background-color: rgb(141, 21, 141);
}

.c {
    background-color: rgb(83, 24, 83);
}

.d{
    background-color: rgb(158, 120, 158);
}

.e,.f,.g,.h{
    background-color: rgb(248, 97, 248);
}

footer{
    background-color: rgb(29, 8, 29);
}