.a{
    background-color: rgb(245, 10, 245);
}

.b{
    background-color: rgb(231, 154, 231);
}

.c {
    background-color: rgb(141, 27, 141);
}

.d{
    background-color: rgb(165, 91, 165);
}

.e,.f,.g,.h{
    background-color: rgb(248, 145, 248);
}

.i{
    background-color: rgb(104, 65, 104);
}


@media(min-width:768){
    .a{
        background-color: rgb(236, 173, 187);
    }
    
    .b{
        background-color:rgb(116, 39, 39);
    }
    
    .c {
        background-color:rgb(163, 36, 36);
    }
    
    .d{
        background-color: rgb(138, 32, 46);
    }
    
    .e,.f,.g,.h{
        background-color: rgb(207, 109, 109);
    }
    
    .i{
        background-color: rgb(97, 38, 38);
    }
}